{
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "syntax-dynamic-import"
            ]
        },
        "test": {
            "presets": [
                "es2015"
            ]
        }
    }
}